<div class="inicio-container" routerLink="/clasico" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="imagen1">
        <img src="/imagenes/img1.jpg" alt="Imagen de los clasicos" />
      </div>
      <div class="contenido-introduccion">
        <h2>Estilos mas clasicos</h2>
        <p>
          Si eres un amante de lo clasico esta es tu sección
          contamos con una gran variedad de relojes al mas puro
          estilo clasico.
        </p>
      </div>
    </div>
  </div>




  <div class="inicio-container" routerLink="/formales" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="contenido-introduccion">
        <h2> modelos formales</h2>
        <p>
         En esta sección encontraras modelos para ocasiones formales
         y para todos los gustos ademas encontras relojes exclusivos 
         de nuestra marca con unidades limitadas de estos.
        </p>
      </div>
      <div class="imagen1" >
        <img src="/imagenes/img2.jpeg" alt="Imagen de los formales" />
      </div>
    </div>
  </div>




  <div class="inicio-container" routerLink="/deportivos" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="imagen1">
        <img src="/imagenes/1366_2000.jpg" alt="Imagen de los deportivos" />
      </div>
      <div class="contenido-introduccion">
        <h2>nuestro lado off-road</h2>
        <p>
          Atrevido y sin miedo a nada esto es para ti, encontraras
          modelos de nuestros relojes que podras llevarlo a lo maximo 
          que puedan ofrecerte sin siquiera notarlo
        </p>
      </div>
    </div>
  </div>




  <div class="inicio-container" routerLink="/formales" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="contenido-introduccion">
        <h2> modelos formales</h2>
        <p>
         En esta sección encontraras modelos para ocasiones formales
         y para todos los gustos ademas encontras relojes exclusivos 
         de nuestra marca con unidades limitadas de estos.
        </p>
      </div>
      <div class="imagen1" >
        <img src="/imagenes/img2.jpeg" alt="Imagen de los formales" />
      </div>
    </div>
  </div>


  
  <div class="inicio-container" routerLink="/deportivos" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="imagen1">
        <img src="/imagenes/1366_2000.jpg" alt="Imagen de los deportivos" />
      </div>
      <div class="contenido-introduccion">
        <h2>nuestro lado off-road</h2>
        <p>
          Atrevido y sin miedo a nada esto es para ti, encontraras
          modelos de nuestros relojes que podras llevarlo a lo maximo 
          que puedan ofrecerte sin siquiera notarlo
        </p>
      </div>
    </div>
  </div>
