<div class="inicio-container" routerLink="/clasico" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="imagen1">
        <img src="/imagenes/rolex-cosmograph-daytona-116500ln-esfera-blanca-completo-id14815-1602771559.png" alt="Imagen de los clasicos" />
      </div>
      <div class="contenido-introduccion">
        <h2>Modelo 4352XFV</h2>
        <p>
          Diseñado para los verdaderos conocedores,
           este reloj de lujo representa la armonía entre tradición y modernidad.
            Con una caja meticulosamente trabajada, cristal de zafiro resistente 
            a los arañazos y un mecanismo suizo de alta precisión, es más que un
            accesorio: es una declaración de elegancia y exclusividad.
             Ideal para quienes aprecian la artesanía impecable y el estilo atemporal. 
        </p>
      </div>
    </div>
  </div>




  <div class="inicio-container" routerLink="/formales" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="contenido-introduccion">
        <h2>Modelo 2351GTT</h2>
        <p>
          Un símbolo de distinción y sofisticación, 
          este reloj de lujo combina diseño atemporal con 
          tecnología de alta precisión. Fabricado con materiales
           premium como cristal de zafiro, acero inoxidable y acabados artesanales,
            cada detalle refleja la excelencia en relojería.
        </p>
      </div>
      <div class="imagen1" >
        <img src="/imagenes/SMS34102.05-600x758.png" alt="Imagen de los formales" />
      </div>
    </div>
  </div>




  <div class="inicio-container" routerLink="/deportivos" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="imagen1">
        <img src="/imagenes/l18801_3.png" alt="Imagen de los deportivos" />
      </div>
      <div class="contenido-introduccion">
        <h2>Modelo 9662BGF</h2>
        <p>
          Descubre la combinación perfecta de sofisticación y 
          artesanía con nuestro exclusivo reloj de lujo. Diseñado 
          con materiales de la más alta calidad, como acero inoxidable, 
          zafiro resistente a los arañazos y una impecable correa de piel
           o titanio, este reloj es una declaración de estilo y prestigio.
            Su mecanismo suizo garantiza una precisión absoluta, mientras 
            que su diseño atemporal lo convierte en la pieza ideal para cualquier ocasión.
             Más que un accesorio, es un símbolo de distinción y excelencia.
        </p>
      </div>
    </div>
  </div>




  <div class="inicio-container" routerLink="/formales" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="contenido-introduccion">
        <h2>Modelo 7839MV</h2>
        <p>
          Un símbolo de distinción y refinamiento, este reloj
           de lujo combina materiales exquisitos con una ingeniería
            impecable. Su diseño sofisticado, elaborado con metales preciosos 
            y cristal de zafiro, alberga un movimiento de alta precisión que 
            garantiza fiabilidad absoluta. Más que un reloj, es una pieza de 
            arte que trasciende el tiempo.
        </p>
      </div>
      <div class="imagen1" >
        <img src="/imagenes/reloj1.jpg" alt="Imagen de los formales" />
      </div>
    </div>
  </div>

