
    <div class="navbar">
        <img src="/imagenes/Captura de pantalla 2025-02-07 123527.png"  class="navbar-logo">
        <nav class="navbar-nav">
            <ul>
                <!-- Muestra las rutas a las que si pulsamos en los nombres te lleva a ellas -->
                <li><a routerLink="/inicio" routerLinkActive="active">Inicio</a></li>
                <li><a routerLink="/nosotros" routerLinkActive="active">Nautilus</a></li>
                <li><a routerLink="/relojes" routerLinkActive="active">Relojes</a></li>
                <li><a routerLink="/novedades" routerLinkActive="active">Novedades</a></li>
                <li><a routerLink="/cesta" routerLinkActive="active"><i class="fas fa-shopping-bag"></i> Cesta</a></li>
            </ul>
        </nav>
    </div>

  
  