
/* CSS */



.container {
    display: flex;
    align-items: center;
    gap: 40px; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: auto;
}
.container img {
    /* Ajusta el tamaño de la imagen */
    margin: 50px;
    border-radius: 10px; /* Bordes redondeados opcionales */
}
body {
    font-family: 'Merriweather', serif; /* Fuente más formal y elegante */
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000; /* Fondo negro */
    color: white; /* Texto blanco para contraste */
}

h1 {
    margin-top: 40px;  /* Margen superior */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center;
}
h2 {
    margin-top: 40px;  /* Margen superior */
    margin-bottom: 20px; /* Espacio debajo del título */
    text-align: center;
}

p {
    margin: 20px 80px; /* 20px arriba/abajo, 40px laterales */
    line-height: 1.6; /* Mejora la legibilidad */
    text-align: justify;
}

.equipo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.miembro {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.miembro img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

.miembro h3 {
    margin: 10px 0 5px;
}

.miembro p {
    font-size: 14px;
    opacity: 0.8;
    max-width: 250px;
}
.barra-horizontal {
    height: 4px;
    background: linear-gradient(90deg, #fff, #888, #fff);
    margin: 20px 0;
    border: none;
}