<head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFyGRTmaE6rS+pZt6GOcXbNC7DfwQf6LvbtC3ENNENRVLDjlC1N4g7AJ6K" crossorigin="anonymous"></script>
    
</head>

<body>
    <h1>Nosotros</h1>
    <p> En Nautilus, fusionamos la tradición relojera con la innovación contemporánea para crear piezas que trascienden lo funcional y se transforman en símbolos de elegancia y distinción. Cada reloj que diseñamos es el resultado de un meticuloso proceso artesanal, utilizando materiales de alta calidad y mecanismos de precisión que garantizan durabilidad y exactitud.
        
        Nuestra colección abraza estilos diversos: desde diseños clásicos y atemporales hasta modelos vanguardistas y deportivos, siempre con un enfoque en la sofisticación y la comodidad. Para nosotros, cada detalle cuenta, y cada reloj cuenta una historia única.
        
        Ya sea para marcar un momento especial o para acompañarte en tu día a día, Nautilus es sinónimo de pasión por la excelencia. Descubre cómo el lujo y la funcionalidad pueden coexistir en tu muñeca.</p>
    <div class="container">
        <img src="/imagenes/square_FOTO_DE_PORTADA_Relojería_Antonio_Correa.jpg"  width="700px" >
        <div class="text">
            <h2>Nuestros inicios</h2>
            <p>Toda nuestra historia se remonta a una pequeña relojería familiar que heredamos, y quisimos revolucionar el mercado sacando nuestra propia línea de relojes de alta calidad y totalmente artesanales</p>
        </div>
    </div>



<!--
     En esta parte encontre una api que me daba fotos ramdom y la utilice para coger imagenes de trabajadores aleatorias
-->

    <div class="equipo">
        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/men/32.jpg" alt="James Mitchell">
            <h3>James Mitchell</h3>
            <p><strong>Chief Technical Officer</strong></p>
            <p>James lidera los esfuerzos de estrategia tecnica y innovacion en la empresa.</p>
        </div>

        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/women/44.jpg" alt="Sophia Benett">
            <h3>Sophia Benett</h3>
            <p><strong>Financial Analyst</strong></p>
            <p>sophia evalua los datos financieros y proporciona insights estrategicos.</p>
        </div>

        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/women/22.jpg" alt="Olivia Reed">
            <h3>Olivia Reed</h3>
            <p><strong>Product Manager</strong></p>
            <p>Olivia se encarga de la desarrollo de productos desde el concepto hasta la lanzamiento.</p>
        </div>

        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/women/57.jpg" alt="Emily Carter">
            <h3>Emily Carter</h3>
            <p><strong>Human Resources Manager</strong></p>
            <p>Emily se encarga de la adquisicion de talento y la cultura del trabajo.</p>
        </div>

        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/men/50.jpg" alt="Alexander Rivera">
            <h3>Alexander Rivera</h3>
            <p><strong>Marketing Director</strong></p>
            <p>se nos conoce en todas las redes sociales gracias a Alexamender</p>
        </div>

        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/men/40.jpg" alt="Daniel Foster">
            <h3>Daniel Foster</h3>
            <p><strong>Operations Manager</strong></p>
            <p>gracias a el las operaciones diarias y la optimizacion de procesos se hacen mas faciles.</p>
        </div>
        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/women/75.jpg" alt="Julia Robins">
            <h3>Julia Robins</h3>
            <p><strong>Helper</strong></p>
            <p>Optimiza la operaciones diarias y la optimizacion de procesos.</p>
        </div>
        <div class="miembro">
            <img src="https://randomuser.me/api/portraits/men/99.jpg" alt="Marcus Benitez">
            <h3>Marcus Benitez</h3>
            <p><strong>Helper </strong></p>
            <p>Gran ayudante de la empresa, su funcion  que ayuda a los clientes a resolver sus problemas.</p>
        </div>
    </div>
    <!-- 
    Instale una api para poder meter videos y que no fuera una etiqueta de html sin mas
    -->

    <div class="barra-horizontal"></div>
    <div class="container">
        <iframe 
          *ngIf="videoUrl" 
          [src]="videoUrl" 
          width="700" 
          height="400" 
          frameborder="0" 
          allowfullscreen>
        </iframe>
        <div class="text">
            <h2>Proceso de frabricación</h2>
            <p>Para cada uno de nuestros relojes dejamos grabados nuestra firma ya que le dedicamos un tiempo especial a cada uno de ellos prestando fiel atención al detalle y al posterior difrute del cliente</p>
        </div>
      </div>
    <div class="barra-horizontal"></div>
    
</body>