
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFyGRTmaE6rS+pZt6GOcXbNC7DfwQf6LvbtC3ENNENRVLDjlC1N4g7AJ6K"
    crossorigin="anonymous"></script>



  <h1 class="title">Nautilus</h1>
  <div class="inicio-container" routerLink="/clasico" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="imagen1">
        <img src="/imagenes/img1.jpg" alt="Imagen de los clasicos" />
      </div>
      <div class="contenido-introduccion">
        <h2>Estilos mas clasicos</h2>
        <p>
          Si eres un amante de lo clasico esta es tu sección
          contamos con una gran variedad de relojes al mas puro
          estilo clasico.
        </p>
      </div>
    </div>
  </div>
  <div class="inicio-container" routerLink="/formales" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="contenido-introduccion">
        <h2> modelos formales</h2>
        <p>
         En esta sección encontraras modelos para ocasiones formales
         y para todos los gustos ademas encontras relojes exclusivos 
         de nuestra marca con unidades limitadas de estos.
        </p>
      </div>
      <div class="imagen1" >
        <img src="/imagenes/img2.jpeg" alt="Imagen de los formales" />
      </div>
    </div>
  </div>
  <div class="inicio-container" routerLink="/deportivos" routerLinkActive="active">
    <br>
    <br>
    <div class="contenido-principal">
      <div class="imagen1">
        <img src="/imagenes/1366_2000.jpg" alt="Imagen de los deportivos" />
      </div>
      <div class="contenido-introduccion">
        <h2>nuestro lado off-road</h2>
        <p>
          Atrevido y sin miedo a nada esto es para ti, encontraras
          modelos de nuestros relojes que podras llevarlo a lo maximo 
          que puedan ofrecerte sin siquiera notarlo
        </p>
      </div>
    </div>
  </div>
  

  <div class="barra-horizontal"></div>


  <h1 class="title">Novedades</h1>
  <div class="container">
    <div class="row">
      <!-- Producto 1 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/reloj1.jpg" class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 7839MV</h5>
            <p class="card-text">500€</p>
          </div>
        </div>
      </div>

      <!-- Producto 2 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/l18801_3.png" class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 9662BGF</h5>
            <p class="card-text">700€</p>
          </div>
        </div>
      </div>

      <!-- Producto 3 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/SMS34102.05-600x758.png" class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 2351GTT</h5>
            <p class="card-text">1300€</p>
          </div>
        </div>
      </div>

      <!-- Producto 4 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/rolex-cosmograph-daytona-116500ln-esfera-blanca-completo-id14815-1602771559.png"
            class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 4352XFV</h5>
            <p class="card-text">1000€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="barra-horizontal"></div>
  <div class="container1">
    <div class="image-wrapper">
      <img src="/imagenes/4xUJkL06hYp8k7ibiiPEr4.webp" width="1300px">
      <div class="text">
        <h2>BestSeller</h2>
        <p>nuestro modelo GTS2245.</p>
      </div>
    </div>
  </div>
