
body {
    font-family: 'Merriweather', serif; /* Fuente más formal y elegante */
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #000000; /* Fondo negro */
    color: white; /* Texto blanco para contraste */
}

/* Barra horizontal decorativa */
.barra-horizontal {
    height: 4px;
    background: linear-gradient(90deg, #fff, #888, #fff);
    margin: 20px 0;
    border: none;
}
/* CSS */

.menu ul {
    padding: 0;
}

.menu li {
    padding: 8px 0;
}

.relojes-link {
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    text-decoration: underline;
}

.title {
    margin: 20px 0;
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

* {
    margin: 0px;
    padding: 0px;
}

.carousel {
    align-items: center;
    max-width: 1200px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}


.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* Botones de navegación del carrusel */


.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.container {
    display: flex;
    align-items: center;
    gap: 25px; /* Espacio entre la imagen y el texto */
    max-width: 900px;
    margin: auto;
}
.container1 {
    display: flex;
    align-items: center;
    gap: 40px; /* Espacio entre la imagen y el texto */
    max-width: 1000px;
    margin: auto;
}
.container img {
    /* Ajusta el tamaño de la imagen */
  
    border-radius: 10px; /* Bordes redondeados opcionales */
}
.container .text {
    flex: 1; /* El texto toma el espacio restante */
    font-size: 18px;
}
h5{
    color: #000000;
}
p{
    color: #000000;
}