<head>


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFyGRTmaE6rS+pZt6GOcXbNC7DfwQf6LvbtC3ENNENRVLDjlC1N4g7AJ6K" crossorigin="anonymous"></script>
</head>
<body>
  <h1 class="title">Nautilus</h1>


  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/imagenes/img3.jpg" class="d-block w-100"  width="700px" height="1000px">
      </div>
      <div class="carousel-item">
        <img src="/imagenes/img2.jpeg" class="d-block w-100" width="700px" height="1000px">
      </div>
      <div class="carousel-item">
        <img src="/imagenes/img1.jpg" class="d-block w-100" width="700px" height="1000px">
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden"></span>
    </button>
  </div>
  
  <h1 class="title">Novedades</h1>
  <div class="container">
    <div class="row">
      <!-- Producto 1 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/reloj1.jpg" class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 7839MV</h5>
            <p class="card-text">500€</p>
          </div>
        </div>
      </div>
  
      <!-- Producto 2 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/l18801_3.png" class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 9662BGF</h5>
            <p class="card-text">700€</p>
          </div>
        </div>
      </div>
  
      <!-- Producto 3 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/SMS34102.05-600x758.png" class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 2351GTT</h5>
            <p class="card-text">1300€</p>
          </div>
        </div>
      </div>
  
      <!-- Producto 4 -->
      <div class="col-md-3">
        <div class="card text-center">
          <img src="/imagenes/rolex-cosmograph-daytona-116500ln-esfera-blanca-completo-id14815-1602771559.png" class="card-img-top" height="250px">
          <div class="card-body">
            <h5 class="card-title">Modelo 4352XFV</h5>
            <p class="card-text">1000€</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div class="barra-horizontal"></div>
  <div class="container1">
    <img src="/imagenes/4xUJkL06hYp8k7ibiiPEr4.webp"  width="700px" >
    <div class="text">
        <h2>BestSeller</h2>
        <p>nuestro modelo GTS2245.</p>
    </div>
</div>
<div class="barra-horizontal"></div>

</body>